@using OMS.Model.ViewModel
@using OMS.Resources
@using OMS.Web.Utilities

@{
    ViewBag.Title = AppResource.MedicalLensData;
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            @AppResource.MedicalLens
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @AppResource.Home</a></li>
            <li><a href="#">@AppResource.SetupData</a></li>
            <li class="active">@AppResource.MedicalLens</li>
        </ol>
    </section>
    <section id="content" class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@AppResource.Search</h3>
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">@AppResource.Color</label>
                    @KOWriter.WriteDropDown("SC.ColorId", "Colors", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">@AppResource.Material</label>
                    @KOWriter.WriteDropDown("SC.MaterialId", "Materials", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">@AppResource.Brand</label>
                    @KOWriter.WriteDropDown("SC.BrandId", "Brands", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">@AppResource.LensIndex</label>
                    @KOWriter.WriteDropDown("SC.LenseIndexId", "LenseIndexs", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" data-bind="click:GridCtrl.Search" class="btn btn-primary pull-right">@AppResource.Search</button>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@AppResource.List</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <paged-grid params="GridCtrl:GridCtrl"></paged-grid>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@AppResource.Details</h3>
                <div class="box-tools pull-right">
                    <div class="form-group">
                        @KOWriter.WriteToolbar()
                        <div class='pull-right'>
                            <div class='doc-buttons'>
                                <a href='#' class='btn btn-success btn-xs toolbarBtn' data-bind='visible:Model.Id()>0,click:AddLensDtls'>@AppResource.AddLensDetails</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" id="scrollTo">
                @KOWriter.WriteErrorMessage()
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">@AppResource.Name</label>
                        @KOWriter.WriteTextbox("Model.Name")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">@AppResource.LensIndex</label>
                        @KOWriter.WriteDropDown("Model.LenseIndexId", "LenseIndexs", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">@AppResource.Code</label>
                        @KOWriter.WriteIntegerTextbox("Model.Code")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">@AppResource.LensThisckness</label>
                        @KOWriter.WriteDecimalTextbox("Model.LensThisckness")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">@AppResource.LensDiameter<span style="color:red;">*</span></label>
                        @KOWriter.WriteDecimalTextbox("Model.LensDiameter")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">@AppResource.AllowedDiscount</label>
                        @KOWriter.WriteDecimalTextbox("Model.AllowedDiscount")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">@AppResource.CompanyNameAr</label>
                        @KOWriter.WriteTextbox("Model.CompanyName")
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">@AppResource.Material</label>
                        @KOWriter.WriteDropDown("Model.MaterialId", "Materials", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label"> Multi Focal Design</label>
                        @KOWriter.WriteDropDown("Model.MultifocalDesignId", "MultifocalDesigns", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">Version Type</label>
                        @KOWriter.WriteDropDown("Model.VersionTypeId", "VersionTypes", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">Coating Diagram </label>
                        @KOWriter.WriteDropDown("Model.CoatingDiagramId", "CoatingDiagrams", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">@AppResource.Brand</label>
                        @KOWriter.WriteDropDown("Model.BrandId", "Brands", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">@AppResource.Color </label>
                        @KOWriter.WriteDropDown("Model.ColorId", "Colors", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="control-label">@AppResource.Supplier</label>
                        @KOWriter.WriteDropDown("Model.SupplierId", "Suppliers", ItemText: "Name", ItemValue: "Id", additionalKOattributes: $",optionsCaption:\"{AppResource.Select}\"")
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label">@AppResource.Notes</label>
                        @KOWriter.WriteTextArea("Model.Notes")
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts
{
    <script>
        function Controller()
        {
            var self = this;
            self.Errors = ko.viewmodel.fromModel([]);
            self.ModelJS = @Html.Raw(Json.Encode(new MedicalLensMasterViewModel()));
            self.Suppliers= ko.viewmodel.fromModel(@Html.Raw(Json.Encode(ViewBag.Suppliers)));
            self.Materials= ko.viewmodel.fromModel(@Html.Raw(Json.Encode(ViewBag.Materials)));
            self.Colors= ko.viewmodel.fromModel(@Html.Raw(Json.Encode(ViewBag.Colors)));
            self.Models= ko.viewmodel.fromModel(@Html.Raw(Json.Encode(ViewBag.Models)));
            self.Brands= ko.viewmodel.fromModel(@Html.Raw(Json.Encode(ViewBag.Brands)));
            self.CoatingDiagrams= ko.viewmodel.fromModel(@Html.Raw(Json.Encode(ViewBag.CoatingDiagrams)));
            self.LenseIndexs= ko.viewmodel.fromModel(@Html.Raw(Json.Encode(ViewBag.LenseIndexs)));
            self.MultifocalDesigns= ko.viewmodel.fromModel(@Html.Raw(Json.Encode(ViewBag.MultifocalDesigns)));
            self.VersionTypes= ko.viewmodel.fromModel(@Html.Raw(Json.Encode(ViewBag.VersionTypes)));
            self.IsMidical = ko.observable(false);
            self.Model = ko.viewmodel.fromModel(self.ModelJS);
            self.SC = ko.viewmodel.fromModel(@Html.Raw(Json.Encode(new MedicalLensMasterSearchViewModel(){PageIndex=1, RowCount = 10  })));
            self.GridCtrl = new GridController("@Url.Action("List")",self.SC);
            self.GridCtrl.Search();
            self.GridCtrl.AddColumn("@AppResource.Name", "Name");
            self.GridCtrl.AddColumn("@AppResource.LensIndex", "LensIndexName");
            self.GridCtrl.AddColumn("@AppResource.Brand", "BrandName");
            self.GridCtrl.AddColumn("@AppResource.LensDiameter", "LensDiameter");
            self.GridCtrl.AddColumn("@AppResource.AllowedDiscount", "AllowedDiscount");
            self.GridCtrl.AddColumn("@AppResource.CompanyNameAr", "CompanyName");
            self.GridCtrl.AddColumn("@AppResource.LensThisckness","LensThisckness");
            self.GridCtrl.AddColumn("Version Type", "VersionTypeName");
            self.GridCtrl.AddColumn("Multifocal DesignName", "MultifocalDesignName");
            self.GridCtrl.AddColumn("Coating Diagram", "CoatingDiagramName");
            self.GridCtrl.AddColumn("@AppResource.Notes", "Notes");

            self.New = function()
            {
                self.Errors([]);

                ko.viewmodel.updateFromModel(self.Model, self.ModelJS);
                $.ajax({
                type: "POST",
                url: "@Url.Action("GetDocumentNumber")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ko.toJSON(self.Model),
                success: function (result) {
                    self.Model.Code(result);
                },
                failure: function () {
                }
            });
            }
            self.OnGridRowSelected = function(selectedrow)
            {
                self.Errors([]);
                waitingDialog.show('Loading...');
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Details")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({Id:selectedrow.Id,RowCount:0} ),
                    success: function (result) {
                        waitingDialog.hide();
                        self.Errors([]);
                        ko.viewmodel.updateFromModel(self.Model, result.Data[0]);
                        ko.viewmodel.updateFromModel(CategoryId, result.Data[0].CategoryId);
                        ko.viewmodel.updateFromModel(SupplierId, result.Data[0].SupplierId);
                        $('html, body').animate({
                            scrollTop: $("#scrollTo").offset().top
                        },1000);
                    },
                    failure: function () {
                        //   alert('Fail');
                    }
                });
            }

            self.AddLensDtls  = function() {
                location.href="/MedicalLensDetails/Index?id="+ self.Model.Id();

            }
            self.Save  = function()
            {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Save")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON(self.Model),
                    success: function (result) {

                        if(result.Exceptions.length==0)
                        {
                            ShowSuccessMessage();
                            ko.viewmodel.updateFromModel(self.Model,result.Model);

                            self.GridCtrl.GoToPage(self.GridCtrl.PageIndex(),false);

                            self.Errors([]);
                        }
                        else
                        {
                            self.Errors(result.Exceptions);
                        }
                    },
                    failure: function () {
                        //   alert('Fail');
                    }
                });
            }

            self.categoryChanged = function (viewModel, event) {
                if (event.target.value == "1"){
                    self.IsMidical(true);

                } else {
                    self.IsMidical(false);
                }
            }

            self.Delete  = function()
            {

                if(confirm('Are you sure you want to delete this record'))
                {
                    waitingDialog.show('Deleting...');

                    self.Errors([]);
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete")",
                        dataType: "json",
                        data: {Id:self.Model.Id()} ,
                        success: function (result) {
                            waitingDialog.hide();
                            if(result.Exceptions.length==0)
                            {
                                ShowDeleteMessage();
                                self.New();

                                self.GridCtrl.GoToPage(self.GridCtrl.PageIndex(),false);

                                self.Errors([]);
                            }
                            else
                            {
                                self.Errors(result.Exceptions);
                            }
                        },
                        failure: function () {
                            //   alert('Fail');
                        }
                    });
                }
            }


            $.ajax({
                type: "POST",
                url: "@Url.Action("GetDocumentNumber")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ko.toJSON(self.Model),
                success: function (result) {
                    self.Model.Code(result);
                },
                failure: function () {
                }
            });

            self.GridCtrl.OnRowSelectedCallBack = self.OnGridRowSelected;
        }

        $(document).ready(function () {
            ko.applyBindings(new Controller(),document.getElementById("content"));
        });
    </script>
}