@using OMS.Model.ViewModel.SC;
@using OMS.Web.Utilities;
@using OMS.Resources;
@{
    ViewBag.Title = "Manage Coating Diagram";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1> Manage Coating Diagram </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @AppResource.Home</a></li>
            <li><a href="#">@AppResource.SetupData</a></li>
            <li class="active"> Manage Coating Diagram </li>
        </ol>
    </section>
    <section id="content" class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@AppResource.Search</h3>
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>@AppResource.Name</label>
                        <input class="form-control" placeholder="@AppResource.EnterName" data-bind="value:SC.Name">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" data-bind="click:GridCtrl.Search" class="btn btn-primary pull-right">@AppResource.Search</button>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@AppResource.List</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <paged-grid params="GridCtrl:GridCtrl"></paged-grid>
                </div>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@AppResource.Details</h3>
                <div class="box-tools pull-right">
                    <div class="form-group">
                        @KOWriter.WriteToolbar()
                    </div>
                </div>
            </div>
            <div class="box-body" id="scrollTo">
                @KOWriter.WriteErrorMessage()
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label">@AppResource.Name<span style="color:red;">*</span></label>
                        @KOWriter.WriteTextbox("Model.Name")
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
@section scripts
{
    <script>
        function Controller()
        {
            var self = this;
            self.Errors = ko.viewmodel.fromModel([]);
            self.ModelJS = @Html.Raw(Json.Encode(new OMS.Model.ViewModel.CoatingDiagramModel()));

            self.Model = ko.viewmodel.fromModel(self.ModelJS);
            self.SC = ko.viewmodel.fromModel(@Html.Raw(Json.Encode(new CoatingDiagramSearchViewModel(){PageIndex=1, RowCount = 1  })));

            self.GridCtrl = new GridController("@Url.Action("List")", self.SC);
            self.GridCtrl.Search();
            self.GridCtrl.AddColumn("@AppResource.ArabicName", "Name");

            self.New = function()
            {
                self.Errors([]);

                ko.viewmodel.updateFromModel(self.Model,self.ModelJS);
            }

            self.Save  = function()
            {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Save")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON(self.Model),
                    success: function (result) {
                        //waitingDialog.hide();

                        if(result.Exceptions.length==0)
                        {
                            ShowSuccessMessage();
                            ko.viewmodel.updateFromModel(self.Model,result.Model);

                            self.GridCtrl.GoToPage(self.GridCtrl.PageIndex(),false);

                            self.Errors([]);
                        }
                        else
                        {
                            self.Errors(result.Exceptions);
                        }
                    },
                    failure: function () {
                        //   alert('Fail');
                    }
                });
            }

            self.Delete  = function()
            {
                if(confirm('@AppResource.DeleteConfirmationMsg'))
                {
                    self.Errors([]);
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete")",
                        dataType: "json",
                        data: {Id:self.Model.Id()} ,
                        success: function (result) {
                            if(result.Exceptions.length==0)
                            {
                                ShowDeleteMessage();
                                self.New();

                                self.GridCtrl.GoToPage(self.GridCtrl.PageIndex(),false);

                                self.Errors([]);
                            }
                            else
                            {
                                self.Errors(result.Exceptions);
                            }
                        },
                        failure: function () {
                            //   alert('Fail');
                        }
                    });
                }
            }

            self.OnGridRowSelected = function(selectedrow)
            {
                self.Errors([]);
                //waitingDialog.show('Loading...');
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Details")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ko.toJSON({Id:selectedrow.Id} ),
                    success: function (result) {
                        //waitingDialog.hide();
                        self.Errors([]);
                        ko.viewmodel.updateFromModel(self.Model, result.Data[0]);

                        $('html, body').animate({
                            scrollTop: $("#scrollTo").offset().top
                        }, 1000);
                    },
                    failure: function () {
                        //   alert('Fail');
                    }
                });
            }
            self.GridCtrl.OnRowSelectedCallBack = self.OnGridRowSelected;
        }

        $(document).ready(function () {
            ko.applyBindings(new Controller(),document.getElementById("content"));
        });

    </script>
}