@using OMS.Model.ViewModel;
@using OMS.Web.Utilities;
@using OMS.Resources;

@{
    ViewBag.Title = AppResource.ImportData;
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section style
{

}
    <section class="content-wrapper">
        <section class="content-header">
            <h1>
                @AppResource.WarehouseTransfer
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> @AppResource.Home</a></li>
                <li><a href="#">@AppResource.WarehouseTransaction</a></li>
                <li class="active">@AppResource.ImportData</li>
            </ol>
        </section>
        <section id="content" class="content">
            <div class="box box-primary">

                @using (Html.BeginForm("Index", "Import", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
                {
                    <div class="box-header with-border">
                        <h3 class="box-title">@AppResource.ImportData</h3>
                        <div class="box-tools pull-right">
                            <div class="form-group">
                                <a href="/Import/DownloadExcel/"><i class="glyphicon glyphicon-download"></i> @AppResource.DownloadTemplate</a>
                                <input type="submit" value="@AppResource.Upload" id="btnSubmit" class="btn btn-primary btn-xs toolbarBtn" />
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="control-label">@AppResource.DataFile <span style="text-transform:lowercase">'.xls / .xlsx'</span></label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                    <span class="input-group-addon fileupload btn btn-info btn-anim btn-file">
                                        <i class="fa fa-upload"></i> <span class="fileinput-new btn-text">@AppResource.SelectFile</span> <span class="fileinput-exists btn-text">@AppResource.Change</span>
                                        <input type="file" id="FileUpload" name="FileUpload" class="" accept=".xls,.xlsx" />
                                    </span> <a href="#" class="input-group-addon btn btn-danger btn-anim fileinput-exists" data-dismiss="fileinput"><i class="fa fa-trash"></i><span class="btn-text"> @AppResource.Remove</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="container col-md-6">
                        <section style="width: 100%;height: 500px; display: inline-block;overflow-y: scroll;border: solid 1px gray;">
                            @if (ViewBag.Error != null)
                            {
                                <ul>

                                    @foreach (var item in ViewBag.Error)
                                    {
                                        <li> @(Html.Raw(item))</li>
                                    }
                                </ul>

                            }
                            @if (ViewBag.Error == null)
                            {
                                <ul>
                                    <li>@AppResource.NoErrors</li>
                                </ul>
                            }
                        </section>
                    </div>


                    <div class="container col-md-6">
                        <section style="width: 100%;height: 500px; display: inline-block;overflow-y: scroll;border: solid 1px gray;">
                            @if (ViewBag.SaveSuccess != null)
                            {
                                <ul>
                                    @foreach (var successitem in ViewBag.SaveSuccess)
                                    {
                                        <li>@successitem</li>
                                    }
                                </ul>
                            }

                            @if (ViewBag.SaveSuccess == null)
                            {
                                <ul>
                                    <li>@AppResource.NoItemSaved</li>
                                </ul>
                            }
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </section>
            @section scripts
{

            }
